/Client/.vs/*
/Client/Library/*
/Client/obj/*
/Client/Temp/*
/Client/*.unitypackage
/Client/Assets/Scenes
/Server/GameServer/.vs
/Server/GameServer/obj
/Server/GameServer/Properties
/Server/GameServer/bin
/Server/bin_Win64/log
/Server/bin_Win64/.vs
/Server/log
/Server/LobbyServer/.vs
/Server/LobbyServer/bin
/Server/LobbyServer/obj
/Server/Operation/bin
/Server/Operation/obj
